<html xmlns="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>시작~</title>
	</head>
		<body>
			<!-- 기존방식 JSP (jstl) -->
			<a href="/board/getBoardList">기존-게시판</a>
			<a href="/member/insertMemberForm">기존-회원가입</a>
			<hr/><hr/>
			
			<!-- 타임리프 방식 -->
			<a th:href="@{/board/getBoardList}">게시판</a>
			<a th:href="@{/member/insertMemberForm}">회원가입</a>
			<a th:href="@{/member/loginForm}">Login</a>
			<!-- 
			<a th:href="/member/loginForm">회원가입</a>
			 -->
			
			
		</body>
</html>