<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EmpDao">

	<select id="empSelect" resultType="sample.java.domain.EmpVO">
	SELECT *
	FROM EMP
	</select>

<!-- join 인 경우 ★★★★★★★★★★★★★★★★★★★★★hashmap 사용하기★★★★★★★★★★★★★★★★★★★★★
				[참고] mybatis 자료형 : int, string, hashmap.... -->
	<select id="empDept" resultType="hashmap">
	SELECT e.empno empno,
			e.ename ename,
			d.dname dname
	FROM emp e INNER JOIN DEPT d
	ON e.deptno=d.deptno
	</select>


</mapper>